.button_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  width: 700px;
  margin-left: 333px;
}
.button {
  padding: 3rem;
  border-radius: 1rem;
  width: 100px;
  height: 120px;
}
